__pycache__/
data/
docs/
seq0/
seq1/
seq2/
seq3/
seq4/
seq6/
sequences/
temp.py
*.pyc
wandb/
model_cache/
*.pt
*.pth
*.sh
*.csv
*.png
*.ipynb
sweep_result/
sweep_result_tmp/
logs_llama/
results_llama/
lora*
deprecated/
results_llama/
*Sweep.py
*sweep.py
*.json
*.bin
*.safetensors
t5_base_/*
core
